{% extends "base_generic.html" %}

{% block content %}
  <h1>Log # {{ log.id }}</h1>

  <p><strong>Board: </strong><a href="{{ log.board.get_absolute_url }}">{{ log.board }}</a></p> 
  <p><strong>Date: </strong>{{ log.date }}</p> 
  <p><strong>Board Location: </strong>{{ log.location }}</p> 
  <p><strong>File: </strong>{{ log.file }}</p> 
  <p><strong>Log: </strong>{{ log.text }}</p> 
  <p><strong>Status: </strong>{{ log.status }}</p> 
  <p><strong>Tests: </strong>{{ log.tests.r_summary }}</p> 
  {% for testform in testforms %}
    {{ testform }}
  {% endfor %}

{% endblock %}
