<div>
<b>Basic VME test</b>: Tests communication between the VCC and ODMB via VME backplane.
{% for field in form %}
{% if "logurl" not in field.id_for_label %}
<div>
    {{ field.label_tag }}
    {% if not readonly %}
          {{ field }}
          {{ field.errors }}
    {% else %}
      {% if "_summary" in field.name %}
        {% if field.value == -1 or field.value is none %}
          <span style="color:gray;"><em>Not tested</em></span>
        {% elif field.value == 0 %}
          <span style="color:red;">Fail</span>
        {% elif field.value == 1 %}
          <span style="color:green;">Pass</span>
        {% endif %}
      {% elif field.value == 0 %}
        {{ field.value }}
      {% elif field.value %}
        {{ field.value }}
      {% else %}
        <span style="color:gray;"><em>No data.</em></span>
      {% endif %}
    {% endif %}
</div>
{% elif field.value != None %}
<div>Link to log: <a href="{{ field.value }}">{{ field.value }}</a></div>
{% endif %}
{% endfor %}
<p></p>
</div>
